a.activeFilter {
font-weight:700;

text-decoration:none;
color:#B8FCEB;
cursor:default;
 }
 a.activeFilter:hover, a.activeFilter:focus{
 text-decoration:none;
 }

a.filterLink:hover, a.filterLink:focus{
color:#B8FCEB;

}

.badge{
position:relative;
top:-3px;
} 


.bold {
 font-weight:700
 }


 
.dropDownAdd li a,.dropDownAdd li a:hover,.dropDownAdd li a:focus{
text-decoration:none;
color:black;

} 

.dropDownNone li {
color:#2e2e2e

}

.footerStats{
height:auto;
overflow:hidden;
}


iframe {
width:100%;
padding-top:10px
}

.imgTd {

padding-right:3px;

}

.listContainer *{
opacity:0.8;
}

.listName {
 color:#fff;
 font-weight:700
 }

 .listName:hover, .listName:focus {
 color:#fff;
}

.modal.fade {
  -webkit-transition: opacity .3s linear, top .5s ease-out;
  -moz-transition: opacity .3s linear, top .5s ease-out;
  -ms-transition: opacity .3s linear, top .5s ease-out;
  -o-transition: opacity .3s linear, top .5s ease-out;
  transition: opacity .3s linear, top .5s ease-out;
}


.navbar-brand span {

font-weight:700;
font-size:larger
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus {
color: #fff
}

.navbar-form {
margin-left:5px;
margin-right:5px

}

.navbar-header {
padding-bottom:5px;
}


.panel-heading a{
 display:inline;
 }

.panel-warning {
border:solid 3px #2B2B2B;
}

.placeholder {
height:4em;
background-color:#787878
} 
 
 
 .regLink  {
color:#FFF;
}

.regLink:hover,.regLink:focus {
color:#737272;
}
.regLink .text-success {

color:#fff;
}
 
#searchError {
margin-left:7em
}

.searchGif {
margin-left:35%
} 
 
#searchPanel,#playlistsPanel {
background-color:#222222;

}
 
#searchResultsTable img{
 width:32px;
 height:32px
}
#searchResultsTable td {
 padding-top:4px;
 padding-bottom:4px;
}

.selectedList {
border:solid 2px #f39c12
 }

.selectedList * {
opacity:1
}

.sortable li {
border:1px solid white;
margin-top:15px;
margin-bottom:15px

}

.sortable li:hover, .sortable li:focus {
cursor:pointer;
} 
 
/*spotify button*/
.spBtn  {
overflow:hidden;
height:100px;
}


.spBtn * {
padding-left:2px;
padding-right:2px
}
 
table a.activeFilter:not(.btn) {
text-decoration:none;
font-weight:700;
}

.toTop {
float:left;
clear:both;
}

.trash {
border:none;
text-align:center;
margin-top:10px;
}

.trash:hover, .trash:focus{
background-color:red;
opacity:0.5
}


.ui-autocomplete li a:hover{background-color:#fff}

.ui-corner-all,.ui-menu-item,.ui-menu-item a {
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
background-color:#464545;
border:none;
text-decoration:none;
color:#fff
}

 ul.dropDownMenu.dropDownAdd{
 position:relative;
 left:-10px
 }
 
.ui-helper-hidden-accessible {display:none}

.ui-menu {
border:#464545;
 }

.ui-menu-item li:hover,.ui-menu-item:hover,.ui-menu-item a:hover {
font-family:"Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight:400;
background-color:#3498db;
border:none;
text-decoration:none;
color:#fff

}

.ui-state-hover {
background-color:#912D2D
}
 

 
/************************* MEDIA QUERIES ***********************************/
 


 @media (max-width:320px){/*iPhone4*/

.bolded {
font-weight:bold;
font-size:larger
}

div.form-group {
padding-right:0px;
margin-right:0px
}

.imgTd>img {
margin-left:3px;
margin-right:3px
} 

.navbar-form .btn {
display:inline;

}

#searchInput.form-control {
width:50%;
display:inline
}

#searchError {
margin-left:2em
}

#searchResultsTable img{
 width:32px;
 height:32px
}


 }
 
 
 
 
 @media  (max-width: 767px) { /*XS*/
 

.bolded {
font-weight:bold;
font-size:larger
} 

div.form-group {
padding-right:0px;
margin-right:0px
}

.imgTd>img {
margin-left:3px;
margin-right:3px
} 

li.oneList {
 display:inline;
 float:left;
 max-width:100%;
 margin-right:10px 
}

.navbar-form .btn {
display:inline;

} 
#searchInput.form-control {
width:88%;
display:inline
}

#searchResultsTable {
width:100%
}


#searchResultsTable img{
 width:64px;
 height:64px
}


td.padded {
padding-right:5%
}


 }
 
 @media  (min-width: 768px) {/*SM*/

.bolded {
font-weight:bold;
font-size:larger
}
.imgTd>img {
margin-left:3px;
margin-right:3px
} 
 
li.oneList {
 display:inline;
 float:left;
 max-width:100%;
 margin-right:10px 
} 
 

#searchInput.form-control {
width:78%;
}

 
#searchResultsTable {
width:100%
}

#searchResultsTable img{
 width:64px;
 height:64px
} 

td.padded {
padding-right:5em
}

 }
 
 @media  (min-width: 992px) {/*MD*/

  .bolded {
font-weight:500;
font-size:100%;
}

 
li.oneList {
 display:inline;
 float:left;
 max-width:45%;
 margin-right:10px 
} 

 #searchResultsTable img{
 width:32px;
 height:32px
} 
 
 
 }
 
 @media  (min-width: 1200px) {/*LG*/

  
 }