<div data-bind="module:'playlists'" class="row" id="playlists-panel">

<!----------------------------------------PANEL WITH PLAYLISTS ------------------------>
<div class="panel panel-success" >
<div class="panel-heading" id="playlistsPanel">
<a name="topPlaylists"></a>
<h3 class="text-success">Playlists:&nbsp;
<span class="badge" data-bind="text:totalCount"></span> &nbsp;
<span class="btn btn-sm btn-success" data-bind="click:createNewList">Create</span>
      <span data-bind="module:'spotifySearcher'"><a class="pull-right collapseLink pl" id="playlistCollapse" data-bind="click:function(){plusMinusCollapse('playlistCollapse')}" data-toggle="collapse" data-target="#playlists" >
               
				<span class="glyphicon glyphicon-minus-sign"></span>
      </a>
</span>
</h3>


</div>

<div id="playlists"  class="collapse in collapsePlaylists">

<div class="panel-body">
<div >
 <div data-bind="if:areLists">
  
   <!--------------------INDIVIDUAL PLAYLIST ---------------------------------------------->
  <ul data-bind="foreach:allPlaylists" class="playUl list-unstyled" class="parentList">
    <li class="oneList col-xs-12 col-sm-12" >
	<div  class="panel panel-warning listContainer" data-bind="click:$parent.makeActive, event:{focus:$parent.makeActive}">
	 <div class="panel-heading orange">
	 
	 <a href="" class="regLink" data-bind="click:$parent.deleteList"><span class="glyphicon glyphicon-remove-sign pull-right"></span></a>
	 <span data-bind="ifnot:editMode">
	  <a href='' class="listName" data-bind="click:$parent.changeName">
	  <span data-bind="text:name" class="plName">
	  </span>
	  </a>
	  </span>
	  <span class="nameInputs" data-bind="if:editMode"><!--event:{blur:$parent.cancelEdit}}-->
	     <form class="nameChangeForm" data-bind="event:{submit:$parent.saveName}"><input type="text" id="listNameInp" data-bind="event:{blur:$parent.cancelEdit},value:name,valueUpdate: 'input'" autofocus="autofocus"/></form>
	  </span>
	  
	 </div>
	
	 
	 <div class="panel-body">
	 
	  <div data-bind="if:tracks" class="containmentContainer" >
	  
	  
	  <div data-bind="if:iframeSrc" class="spBtn">
	    <iframe data-bind="attr:{src:iframeSrc}"
	 frameborder="0" allowtransparency="true"></iframe>
	  
	  </div>
	  
	  
	  
	  <ul data-bind="foreach:tracks" class="list-unstyled sortable" class="tracksList">
	    <li  class="song" data-bind="attr:{id:'s_'+uri}">
		
		<table class="individualSong" data-bind="with:$data">
		<tr class="row">
		<td class="firstTd">
		<img data-bind="attr:{src:image}" alt="album cover"/>
		</td>
		
		
		
		<td class="secondTd">
		<strong><span data-bind="text:trackName"></span> </strong><br/>
		<span data-bind="text:artist"></span>
		</td>
		
		<td class="thirdTd">		
		<span data-bind="text:duration"></span>
		</td>
		
		</tr>
		
		</table>
		
		</li>
		
	  </ul>
	  
	  
	  <p  class="glyphicon glyphicon-trash hidden "></p>
	  </div>
	  
	  <div data-bind="ifnot:tracks">
	   <span>Add tracks here<br/> from Search Results.</span>
	  </div>
	 </div>
	 
	 <div class="panel-footer">
	 <div><span>Total length:
	 </span>&nbsp;
	 <span data-bind="text:length()">
	 </span>
	 </div>
	 
	 <!--ko if:tracks-->
	 <div class="footerStats">
	 
	 <span class="pull-left"><span>Tracks:
	 </span>&nbsp;
	 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span data-bind="text:tracks().length" >
	 </span>
	 </span>
	 
	 <a href="" class="pull-right" data-bind="click:$parent.askRemoveAllSong">
	   <span title="Remove All Songs" class="glyphicon glyphicon-trash">
	 
	   </span>
	 </a>
	 
	 </div>
	 <!--/ko-->
	 </div>
	 </div>
	</li>
  </ul> <!------------------------end of individual playlist -------------------------->
  
   <a href="#topPlaylists" class="toTop pull-right">To Top of Playlists<span class="glyphicon glyphicon-arrow-up"></span></a>
 </div>

 
 <div data-bind="ifnot:areLists">
 <span>You don't have any playlists yet.<span>
 </div>


</div>
</div>
</div>


</div> <!-- end of panel -->









<!--- MODALS-->
<div class="modal fade" id="addTrackModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">     
      <div class="modal-body">
        <p>Added <br/>
		   <strong> <span data-bind="with:trackToAdd">&quot;<span data-bind="text:trackName"></span>&quot;</span></strong><br/>
 		   to <span data-bind="with:selectedList"><span data-bind="text:name"> </span></span></p>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




<div class="modal fade" id="deleteModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p data-bind="with:selectedList">Are you sure you want to delete <strong> <span data-bind="text:name"></span></strong>&nbsp;?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bind="click:confirmedDelete">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="duplicateNameModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p >It seems that you may have a playlist named <strong> <span data-bind="text:duplicateName"></span></strong>.<br/>
		Please rename it to something else before creating a new playlist.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="reached10LimitModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p >You have reached the limit of 10 playlists.<br/>
		You may modify your existing playlists or delete some of them.
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="duplicatePlaylistModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p >A playlist with this name already exists!
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="emptyNameModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p >Name cannot be empty!
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="removeAllSongs">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p data-bind="with:selectedList">Are you sure you want to delete all the songs on the <strong> <span data-bind="text:name"></span></strong>&nbsp;playlist?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" data-bind="click:removeAllSongs">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="trackLimitExceeded">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p data-bind="with:selectedList"> Playlist <strong><span data-bind="text:name"></span></strong><br/>
		has reached the limit of 100 tracks. 
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="duplicateTrack">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      
      <div class="modal-body">
        <p> You are trying to add a track<br/>
		    that is already on <br/>
			  this list. 
		</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">OK!</button>
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

</div>